# Ignore environment files
.env
*/.env
backend/.env
frontend/.env

# Node modules (frontend)
frontend/node_modules/

# Maven & build files
backend/target/

# IntelliJ files
backend/.idea/
*.iml

# Logs
*.log
