
:root {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  background: none;
  color: inherit;
}


button {
  all: unset;
  cursor: pointer;
}
a {
  all: unset;
  cursor: pointer;
}
